
.body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255);
    max-width: 1080px;
    align-self: center;
    margin: auto;
    box-shadow: 0 0 12px 2px lightgrey;
    padding: 9px;
    border-radius: 5px;
}

.menu-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 30%;
    max-width: 324px;
    padding-top: 1%;
    /* background-color: lightblue; */
    border-radius: 5px;
    /* box-shadow: 0 0 16px 3px rgb(191, 191, 191); */
}

.top-menu-section { 
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    height: 100px;
}



.top-menu-section h4 { 
    border-bottom: 1px solid lightgrey;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    /* text-decoration: underline; */
    letter-spacing: 5px;
    padding: 5px 0px;
    color: white;
}

.menu-section-item-left {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    text-align: center;
    /* margin: 1%; */
    background: linear-gradient(0deg, #00ffcf, #0389bb);
    border-radius: 5px 0 0 5px;
/*     -webkit-box-shadow: inset 0px 0px 38px -3px rgba(120,112,120,1);
    -moz-box-shadow: inset 0px 0px 38px -3px rgba(120,112,120,1);
    box-shadow: inset 0px 0px 38px -3px rgba(120,112,120,1); */
}

.score-container {
    position: relative;
    width: 50%;
}

.score {
    margin: 0;
    padding-top: 12%;
}
.menu-section-item-right {
    width: 70%;
    text-align: center;
    /* margin: 1%; */
    background: linear-gradient(0deg, #00ffcf, #0389bb);
    border-radius: 0 5px 5px 0;
/*     -webkit-box-shadow: inset 0px 0px 38px -3px rgba(120,112,120,1);
    -moz-box-shadow: inset 0px 0px 38px -3px rgba(120,112,120,1);
    box-shadow: inset 0px 0px 38px -3px rgba(120,112,120,1); */
}
.menu-section-item-right p {
    padding: 0 11px;
}

.stopwatch-container {
    position: relative;
    width: 50%;
}

.stopwatch {
    display: flex;
    padding-top: 12%;
    justify-content: center;
}
  
.results {
    border-color: lime;
    list-style: none;
/*     margin: 0;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%); */
}
.buttons {
    width: 100%;
    max-width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.mode-button {
    width: 100%;
    margin: 0 1% 1% 1%;
    border-radius: 4px;
    border-color: lightgray;
    background: linear-gradient(35deg, #00ffcf, #0389bb);
    font-size: 1em;
    padding: 5px 30px;
}

.mode-button.selected {
    background: linear-gradient(35deg, #ff4d30, #e223b4);
}


.reset-button {
    width: 100%;
    background: linear-gradient(35deg , #00ffcf, #0389bb);
    font-size: 1em;
    padding: 5px 30px;
    margin: 0 0 1% .5%;
    border-radius: 4px;
    border-color: lightgray;
    display: block;
}

.modal-content .reset-button {
    width: 200px;
    display: block;
    margin: 20px auto;
}

.text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.mode-text {
    font-size: 1em;
    text-transform: uppercase;
    margin: 0;
    text-decoration: underline;
    letter-spacing: 5px;
}
.mode-button:hover, .shuffle-button:hover, .reset-button:hover {
    background: linear-gradient(35deg, #f7735f, #ff4ad5);
    letter-spacing: 3px;
}

.main {
    width: 69%;
    max-width: 756px;
    height: 100%;
    align-self: center;
    padding: 1% 0 0 1%;
}

@-webkit-keyframes blackWhite {  
    0% { background-color: rgb(255, 255, 255);  }
    50% { background: radial-gradient(red, white); }
    100% { background-color: rgb(255, 255, 255); }
  }
  
.mayhem {
    -webkit-animation-name: blackWhite;  
    -webkit-animation-iteration-count: infinite;  
    -webkit-animation-duration: 1s; 
} 


.tile:nth-child(6n+1) {
    margin-right: 2%;
}

.tile:nth-child(6n+2) {
    margin-right: 2%;
}

.tile:nth-child(6n+3) {
    margin-right: 2%;
}

.tile:nth-child(6n+4) {
    margin-right: 2%;
}

.tile:nth-child(6n+5) {
    margin-right: 2%;
}

.tile:nth-child(-n+30) {
    margin-bottom: 2%;
}

.tile {
    position: relative;
    float: left;
    width: 15%;
    padding-bottom: 15%;
    box-sizing: border-box;
    transition: .6s;
    transform-style: preserve-3d;
    z-index: 99;
    box-shadow: 0 0 13px 1px rgb(73, 92, 113);
    border-radius: 9px;
}

.tile.easy:nth-child(4n+1) {
    margin-right: 2%;
}

.tile.easy:nth-child(4n+2) {
    margin-right: 2%;
}

.tile.easy:nth-child(4n+3) {
    margin-right: 2%;
}

.tile.easy:nth-child(4n+4) {
    margin-right: 0;
}

.tile.easy:nth-child(-n+12) {
    margin-bottom: 2%;
}
.tile.easy:nth-child(n+13) {
    margin-bottom: 0;
}

.tile.easy {
    width: 23.5%;
    padding-bottom: 23.5%;
}

.front {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100.1%;
    width: 100.1%;
    background-color: black;
    transform: translate(-50%,-50%) rotateY(0deg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    background: linear-gradient(-45deg, rgb(142, 78, 131), blue);
    border-radius: 9px;
    -webkit-transition: opacity 2s 3s ease-in-out;
    -moz-transition: opacity 2s 3s ease-in-out;
    -ms-transition: opacity 2s 3s ease-in-out;
    -o-transition: opacity 2s 3s ease-in-out;

}

.won {
    box-shadow: none;
}

.won .front {
    opacity: 0;
}

.back {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100%;
    width: 100%;
    background-color: lightblue;
    transform: translate(-50%,-50%) rotateY(180deg);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    z-index: -2;
}

.front, .back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.end-game {
    position: absolute;
    top: 50%;
    left: -1000px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0);
    transform: translate(-50%,-50%);
    color: rgb(155, 17, 155);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6em;
    opacity: 0;
    -webkit-transition: opacity 1s .5s ease-in-out;
    -moz-transition: opacity 1s .5s ease-in-out;
    -ms-transition: opacity 1s .5s ease-in-out;
    -o-transition: opacity 1s .5s ease-in-out;

}

.end-game.over {
    left: 50%;
    z-index: 99;
    opacity: 1;
}
.stars {
    color: rgb(0, 179, 191);
    font-size: 1.3em;
}

#star-rating {
    display: flex;
    width: 100%;
    justify-content: center;
}

#star-rating .stars {
    font-size: .8em;
    color: #ff4a9b;
}

.tile-clicked {
    cursor: pointer;
    transform: rotateY(180deg);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
}

.modal-content h1 {
    border-radius: 5px;
    color: lightseagreen;
    font-size: 2.5em;
}

.modal-content p, .modal-content ul {
    font-size: 1.3em;
    color: gray;
}

/* The Close Button */
.close {
    top: 10px;
    position: absolute;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    right: 10px;
}

.results {
    padding: 0;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
.game-over {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
 }



 .back.image-1::after
 , .back.image-2::after
 , .back.image-3::after
 , .back.image-4::after
 , .back.image-5::after
 , .back.image-6::after
 , .back.image-7::after
 , .back.image-8::after
 , .back.image-11::after
 , .back.image-12::after
 , .back.image-13::after
 , .back.image-14::after
 , .back.image-15::after
 , .back.image-16::after
 , .back.image-17::after
 , .back.image-18::after {
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 80px;
    font-weight: 900;
    color: hotpink;
 }

 .back.image-9::after
 , .back.image-10::after {
    font-family: 'Font Awesome 5 Brands' !important;
    font-size: 80px;
    font-weight: 400;
    color: hotpink;
 }



.back.image-1::after {
    content: "\f241";
}

.back.image-2::after {
    content: "\f55e";
}

.back.image-3::after {
    content: "\f207";
}

.back.image-4::after {
    content: "\f242";
}

.back.image-5::after {
    content: "\f1e2";
}

.back.image-6::after {
    content: "\f1b3";
}

.back.image-7::after {
    content: "\f0fb";
}

.back.image-8::after {
    content: "\f4ba";
}

.back.image-9::after {
    content: "\f417";
}

.back.image-10::after {
    content: "\f286";
}

.back.image-11::after {
    content: "\f027";
}

.back.image-12::after {
    content: "\f028";
}

.back.image-13::after {
    content: "\f0e7";
}

.back.image-14::after {
    content: "\f1b9";
}

.back.image-15::after {
    content: "\f5de";
}

.back.image-16::after {
    content: "\f0c4";
}

.back.image-17::after {
    content: "\f569";
}

.back.image-18::after {
    content: "\f1b0";
}

.front::after {
    content: "\f3b9";
    font-family: 'Font Awesome 5 Brands' !important;
    font-size: 70px;
    font-weight: 900;
    color: lightskyblue;
}



.mayhem-1::after
, .mayhem-2::after
, .mayhem-3::after
, .mayhem-4::after
, .mayhem-5::after
, .mayhem-6::after
, .mayhem-7::after
, .mayhem-8::after
, .mayhem-11::after
, .mayhem-12::after
, .mayhem-13::after
, .mayhem-14::after
, .mayhem-15::after
, .mayhem-16::after
, .mayhem-17::after
, .mayhem-18::after {
    font-family: 'Font Awesome 5 Free' !important;
    font-size: 70px;
    font-weight: 900;
    color: #4dd2b5;
}

.mayhem-9::after
, .mayhem-10::after {
    font-family: 'Font Awesome 5 Brands' !important;
    font-size: 70px;
    font-weight: 400;
    color: #4dd2b5;
}

.mayhem-1::after {
    content: "\f241";
}

.mayhem-2::after {
    content: "\f55e";
}

.mayhem-3::after {
    content: "\f207";
}

.mayhem-4::after {
    content: "\f242";
}

.mayhem-5::after {
    content: "\f1e2";
}

.mayhem-6::after {
    content: "\f1b3";
}

.mayhem-7::after {
    content: "\f0fb";
}

.mayhem-8::after {
    content: "\f4ba";
}

.mayhem-9::after {
    content: "\f417";
}

.mayhem-10::after {
    content: "\f286";
}

.mayhem-11::after {
    content: "\f027";
}

.mayhem-12::after {
    content: "\f028";
}

.mayhem-13::after {
    content: "\f0e7";
}

.mayhem-14::after {
    content: "\f1b9";
}

.mayhem-15::after {
    content: "\f5de";
}

.mayhem-16::after {
    content: "\f0c4";
}

.mayhem-17::after {
    content: "\f569";
}

.mayhem-18::after {
    content: "\f1b0";
}

@media all and (max-width:900px) {

    .front::after {
        font-size: 40px;
    }

    .back.image-1::after
    , .back.image-2::after
    , .back.image-3::after
    , .back.image-4::after
    , .back.image-5::after
    , .back.image-6::after
    , .back.image-7::after
    , .back.image-8::after
    , .back.image-11::after
    , .back.image-12::after
    , .back.image-13::after
    , .back.image-14::after
    , .back.image-15::after
    , .back.image-16::after
    , .back.image-17::after
    , .back.image-18::after {
       font-size: 50px;
    }
   
    .back.image-9::after
    , .back.image-10::after {
       font-size: 50px;
    }

    .mayhem-1::after
    , .mayhem-2::after
    , .mayhem-3::after
    , .mayhem-4::after
    , .mayhem-5::after
    , .mayhem-6::after
    , .mayhem-7::after
    , .mayhem-8::after
    , .mayhem-11::after
    , .mayhem-12::after
    , .mayhem-13::after
    , .mayhem-14::after
    , .mayhem-15::after
    , .mayhem-16::after
    , .mayhem-17::after
    , .mayhem-18::after {
        font-size: 50px;
    }

    .mayhem-9::after
    , .mayhem-10::after {
        font-size: 50px;
    }
}

@media all and (max-width:730px) {

    .front::after {
        font-size: 40px;
    }

    .back.image-1::after
    , .back.image-2::after
    , .back.image-3::after
    , .back.image-4::after
    , .back.image-5::after
    , .back.image-6::after
    , .back.image-7::after
    , .back.image-8::after
    , .back.image-11::after
    , .back.image-12::after
    , .back.image-13::after
    , .back.image-14::after
    , .back.image-15::after
    , .back.image-16::after
    , .back.image-17::after
    , .back.image-18::after {
       font-size: 40px;
    }
   
    .back.image-9::after
    , .back.image-10::after {
       font-size: 40px;
    }

    .mayhem-1::after
    , .mayhem-2::after
    , .mayhem-3::after
    , .mayhem-4::after
    , .mayhem-5::after
    , .mayhem-6::after
    , .mayhem-7::after
    , .mayhem-8::after
    , .mayhem-11::after
    , .mayhem-12::after
    , .mayhem-13::after
    , .mayhem-14::after
    , .mayhem-15::after
    , .mayhem-16::after
    , .mayhem-17::after
    , .mayhem-18::after {
        font-size: 40px;
    }

    .mayhem-9::after
    , .mayhem-10::after {
        font-size: 40px;
    }
}

@media all and (max-width:540px) {

    .front::after {
        font-size: 33px;
    }

    .back.image-1::after
    , .back.image-2::after
    , .back.image-3::after
    , .back.image-4::after
    , .back.image-5::after
    , .back.image-6::after
    , .back.image-7::after
    , .back.image-8::after
    , .back.image-11::after
    , .back.image-12::after
    , .back.image-13::after
    , .back.image-14::after
    , .back.image-15::after
    , .back.image-16::after
    , .back.image-17::after
    , .back.image-18::after {
       font-size: 33px;
    }
   
    .back.image-9::after
    , .back.image-10::after {
       font-size: 33px;
    }

    .mayhem-1::after
    , .mayhem-2::after
    , .mayhem-3::after
    , .mayhem-4::after
    , .mayhem-5::after
    , .mayhem-6::after
    , .mayhem-7::after
    , .mayhem-8::after
    , .mayhem-11::after
    , .mayhem-12::after
    , .mayhem-13::after
    , .mayhem-14::after
    , .mayhem-15::after
    , .mayhem-16::after
    , .mayhem-17::after
    , .mayhem-18::after {
        font-size: 33px;
    }

    .mayhem-9::after
    , .mayhem-10::after {
        font-size: 33px;
    }
}

@media all and (max-width:475px) {

    .top-menu-section {
        height: 100px;
        font-size: .9em;
    }

    .top-menu-section h4 {
        font-size: .8em;
        letter-spacing: 3px;
        padding: 3px 0px;
    }

    .stopwatch {
        padding-top: 40%;
    }

    .score {
        padding-top: 40%;
    }

    .menu-section {
        width: 100%;
        max-width: 100%;
    }

    .buttons {
        font-size: .7em;
    }
    .reset-button {
        
        width: 20%;
        font-size: 1em;
        padding: 10px 0;
        margin: 0;

    }

    .mode-button {
        width: 20%;
        border-radius: 4px;
        font-size: 1em;
        padding: 10px 0;
        margin: 0;
    }
    .text-container {
        display: none;
        justify-content: center;
        align-items: center;
        width: 20%;
    }

    .main {
        width: 100%;
        padding: 1% 0;
    }

    .front::after {
        font-size: 40px;
    }

    .back.image-1::after
    , .back.image-2::after
    , .back.image-3::after
    , .back.image-4::after
    , .back.image-5::after
    , .back.image-6::after
    , .back.image-7::after
    , .back.image-8::after
    , .back.image-11::after
    , .back.image-12::after
    , .back.image-13::after
    , .back.image-14::after
    , .back.image-15::after
    , .back.image-16::after
    , .back.image-17::after
    , .back.image-18::after {
       font-size: 40px;
    }
   
    .back.image-9::after
    , .back.image-10::after {
       font-size: 40px;
    }

    .mayhem-1::after
    , .mayhem-2::after
    , .mayhem-3::after
    , .mayhem-4::after
    , .mayhem-5::after
    , .mayhem-6::after
    , .mayhem-7::after
    , .mayhem-8::after
    , .mayhem-11::after
    , .mayhem-12::after
    , .mayhem-13::after
    , .mayhem-14::after
    , .mayhem-15::after
    , .mayhem-16::after
    , .mayhem-17::after
    , .mayhem-18::after {
        font-size: 40px;
    }

    .mayhem-9::after
    , .mayhem-10::after {
        font-size: 40px;
    }
}

@media (max-width: 350px) {

    .top-menu-section h4 {
        letter-spacing: 1px;
    }

    .front::after {
        font-size: 40px;
    }

    .back.image-1::after
    , .back.image-2::after
    , .back.image-3::after
    , .back.image-4::after
    , .back.image-5::after
    , .back.image-6::after
    , .back.image-7::after
    , .back.image-8::after
    , .back.image-11::after
    , .back.image-12::after
    , .back.image-13::after
    , .back.image-14::after
    , .back.image-15::after
    , .back.image-16::after
    , .back.image-17::after
    , .back.image-18::after {
       font-size: 40px;
    }
   
    .back.image-9::after
    , .back.image-10::after {
       font-size: 40px;
    }

    .mayhem-1::after
    , .mayhem-2::after
    , .mayhem-3::after
    , .mayhem-4::after
    , .mayhem-5::after
    , .mayhem-6::after
    , .mayhem-7::after
    , .mayhem-8::after
    , .mayhem-11::after
    , .mayhem-12::after
    , .mayhem-13::after
    , .mayhem-14::after
    , .mayhem-15::after
    , .mayhem-16::after
    , .mayhem-17::after
    , .mayhem-18::after {
        font-size: 40px;
    }

    .mayhem-9::after
    , .mayhem-10::after {
        font-size: 40px;
    }
}
